.homeHeader {
  background: url(https://a.slack-edge.com/c2bc65/marketing/img/homepage/bold-prospect/hero/hero-large.png);
  background-color: #4a154b;
  background-position: top;
  background-repeat: repeat-y;
  background-size: 100%;
  min-height: 100vh;
  padding-top: 10%;
  height: 2000px;
}
.homeHeader h1 {
  font-size: 4rem;
  color: #fff;
  max-width: 950px;
  margin-bottom: 2rem !important;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -1.5px;
  margin-top: 0;
  font-family: lato;
  margin: 0 auto;
}
.homeHeader span {
  color: #ecb22e;
}
.homeHeader button {
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: 0.8px;
  font-family: lato;
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #611f69;
  background: #fff;
  color: #611f69;
  border: 0;
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.homeHeader .slackMsg {
  min-width: 945px;
  width: 90%;
  max-width: 945px;
  display: block;
  height: unset;
  margin: 0 auto;
  margin-top: 3%;
}
.homeHeader .slackMsg .topNav {
  width: 100%;
  height: 40px;
  background: #2b092b;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: flex;
  align-items: center;

}
.homeHeader .slackMsg .topNav .red{
  background-color: #ff6059;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  display: inline-block;
}
.homeHeader .slackMsg .topNav .yellow{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline-block;
    background-color: #ffbe2f;
}
.homeHeader .slackMsg .topNav .green{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  display: inline-block;
  background-color: #2aca41;

}
.homeHeader .slackMsg .body{
  display: grid;
  grid-template-columns: 230px auto;
  max-width: unset;
  box-shadow: 0 4px 20px rgb(0 0 0 / 8%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.homeHeader .slackMsg .body .left{
  display: block;
  margin-bottom: 0;
   white-space: nowrap;
  background-color: #791984;
  border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 315px;
    font-size: 1rem;
    padding: 1.5rem 0;
    border-bottom-left-radius: 4px;
}
@media (max-width: 1140px) {
  .homeHeader h1 {
    font-size: 3.1rem;
    max-width: 718px;
  }
}
