#navbar {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.fixed {
  position: fixed !important;
  margin-top: 1%;
  animation: slideDown 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fixed .container {
  background-color: white;
  border-radius: 50px;
}
.fixed .nav-link {
  color: black !important;
}
.navbar .nav-link {
  color: #fff;
  font-size: 0.9375rem;
  cursor: pointer;
  font-weight: 700;
  font-family: lato;
  line-height: 7px;
}
.navbar .nav-link:hover {
  border-bottom: 1px solid #fff;
}
.fixed .nav-link:hover {
  border-bottom: 1px solid black;
}
.navbar .navbar-nav {
  padding: 0.9rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 0 !important;
}
.navbar .dropdownHover {
  position: relative;
}
.navbar .nav-item {
  padding-right: 12px;
}
.navbar .signin {
  margin-top: 17%;
}
.navbar .productDropDown {
  top: 100%;
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 12rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  font-family: lato;
}
.navbar .productDropDown a:hover {
  color: #fff;
  background-color: #1264a3;
}
.navbar .dropdownHover:hover > .productDropDown {
  display: block !important;
}
.navbar button {
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: 0.8px;
  font-family: lato;
  padding: 13px;
  border-radius: 4px;
  border: 0;
  background-color: transparent;
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navbar .talk {
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
.navbar .talk:hover {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}
.navbar .try {
  color: #611f69;
  background-color: #fff;
  margin-left: 1.25rem;
  padding: 0.75rem 1rem;
}
.navbar .try:hover {
  box-shadow: inset 0 0 0 2px #611f69;
}
.navbar .dropdown-item svg {
  width: 20px;
  height: 20px;
  margin: -3% 1% 0 0;
}
.navbar .navbar-brand,
.navbar .dropdown-item:hover {
  fill: #fff;
}
.fixed .navbar-brand {
  fill: black;
}
.fixed .talk {
  color: #611f69;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #611f69;
}
.fixed .talk:hover {
  color: #611f69;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #611f69;
}
.fixed .try {
  background-color: #611f69;
  color: #fff;
}
.fixed .try:hover {
  background-color: #4a154b;
  box-shadow: inset 0 0 0 2px #611f69;
}
.navbar .collapseBtn {
  display: none;
}
@media (min-width: 1200px) {
  #navbar .container {
    max-width: 1280px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1200px !important;
  }
}
@media (max-width: 991.5px) {
  .navbar .collapseBtn {
    display: block;
    fill: white;
    cursor: pointer;
  }
  .fixed .container {
    background-color: transparent;
    border-radius: 0;
  }
  .fixed {
    background-color: #fff;
  }
  .fixed .collapseBtn {
    fill: black;
    cursor: pointer;
  }
}
