.billingFrom ul {
  list-style: none;
  width: 100%;
}
.billingFrom{
  margin-top: 5%;
}
.billingFrom ul li {
  display: inline-block;
}
.billingFrom .billingTo h5 {
  font: normal normal bold 19px/45px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingFrom .billingTo p {
    font: normal normal normal 15px/10px Lato;
    letter-spacing: 0px;
    color: #888888;
}
.billingFrom .billingDataLi {
  float: right;
  width: 44%;
}
.billingFrom .billingDataLi .billing-data {
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}
.billingFrom .billing-data span {
  font: normal normal normal 17px/0px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-left: 10%;
  text-align: right;
}
.billingFrom .billing-data p {
  text-align: left;
  display: inline-block;
  font: normal normal normal 18px/9px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingFrom .billing-data {
  text-align: end;
}
@media (max-width: 992px) {
  .billingFrom .billingDataLi {
    float: right;
    width: 50%;
  }
}
@media (max-width: 880px) {
  .billingFrom .billingDataLi {
    float: right;
    width: 55%;
  }
}
@media (max-width: 768px) {
  .billingFrom .invoiceData .invoiceData2 .data {
    padding: 39px 50px 0 50px;
  }

  .billingFrom .billingDataLi {
    float: right;
    width: 60%;
  }
  .billingFrom .billing-data p {
    font: normal normal normal 16px/9px Lato;
  }
  .billingFrom .billing-data span {
    font: normal normal normal 15px/0px Lato;
  }
}
@media (max-width: 426px) {
 
  .billingFrom .billingDataLi {
    float: left;
    width: 100%;
  }
  .billingFrom .billing-data {
    text-align: left;
  }
}
@media (max-width: 415px) {
  .billingFrom .billingDataLi {
    float: left;
    width: 100%;
  }
  .billingFrom .billing-data {
    text-align: left;
  }
}
@media (max-width: 280px) {
  .billingFrom .billingDataLi .billing-data {
    padding: 10px 6px 10px 6px;
  }
}
