.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 101%;
  background-color: #fff;
  transition: 0.5s;
  padding: 10px;
  display: none;
}
.active {
  left: 0%;
}
.sidenav a,
.sidenav a:hover {
  font-size: 1.1rem;
  color: #1d1d1d;
  display: block;
  transition: 0.3s;
  font-weight: 700;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  top: 14px;
}
.sidenav .sidenav-links {
  margin-top: 5%;
  line-height: 3;
  overflow-y: scroll;
  height: 66%;
}
.sidenav .product span::after {
  display: block;
  position: absolute;
  right: 1.7rem;
  content: "";
  background-image: url(https://a.slack-edge.com/49ff5/marketing/img/icons/icon_chevron_black.svg);
  width: 1em;
  height: 1em !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.1s ease;
  transform: rotate(-90deg);
  top: 18%;
}
.sidenav ul {
  list-style: none;
  line-height: 40px;
  display: none;
}
.sidenav ul li a,
.sidenav ul li a:hover {
  font-weight: 400;
  color: #1d1d1d;
  border: none;
  text-decoration: none;
  font-size: 1.1rem;
}
.sidenav .open {
  display: block;
  transition: all 0.3s linear;
}
.sidenav .activeProduct::after {
  transform: rotate(0deg);
}
.sidenav button {
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: 0.8px;
  font-family: lato;
  padding: 20px;
  border-radius: 4px;
  border: 0;
  width: 45%;
  margin-right: 5%;
  background-color: transparent;
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidenav .sidenav-buttons {
  width: 100%;
  padding: 1.5rem 1.5rem 2rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 -10px 12px rgb(0 0 0 / 4%);
}
.sidenav button:first-child {
  border: 1px solid #611f69;
  background: #fff;
  color: #611f69;
}
.sidenav button:last-child {
  background-color: #611f69;
  color: #fff;
  fill: #fff;
}
@media (max-width: 991px) {
  .sidenav {
    display: block;
  }
}
