.billingInfo ul {
  list-style: none;
  width: 100%;
  padding-left: 11px;
}
.billingInfo ul li {
  display: inline-block;
}
.billingInfo .billingTo h5 {
  font: normal normal bold 19px/40px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingInfo .billingTo p {
  letter-spacing: 0px;
  color: #1c1c26;
  font-size: 15px;
  line-height: 7px;
  font-weight: normal;
}
.billingInfo .billingDataLi {
  float: right;
}
.billingInfo .billingDataLi table {
  width: 100%;
}
.billingInfo .billingDataLi .ivoiceTable {
  padding-right: 10%;
}
.billingInfo .billingDataLi {
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
}
.billingInfo .billing-data span {
  font: normal normal normal 17px/0px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-left: 10%;
  text-align: right;
}
.billingInfo .billing-data p {
  text-align: left;
  display: inline-block;
  font: normal normal normal 17px/9px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingInfo .billing-data {
  text-align: end;
}

@media (max-width: 1250px) {
  .billingInfo .billingDataLi {
    width: 100%;
  }
  .billingInfo .billing-data p {
    font: normal normal normal 16px/0px Lato;
  }
}
@media (max-width: 1180px) {
  .billingInfo .billingDataLi {
    width: 100%;
    max-width: 37%;
  }
  .billingInfo .billing-data p {
    font: normal normal normal 16px/0px Lato;
  }
}

@media (max-width: 1130px) {
  .col-lg-4 {
    max-width: 36.333333%;
  }
}
@media (max-width: 992px) {
  .billingInfo .billingDataLi {
    width: 100%;
    max-width: 42%;
  }
}
@media (max-width: 768px) {
  .invoiceData .invoiceData2 .data {
    padding: 39px 50px 0 50px;
  }

  .billingInfo .billingDataLi {
    float: right;
    width: 45%;
  }
  .billingInfo .billing-data p {
    font: normal normal normal 16px/9px Lato;
  }
  .billingInfo .billing-data span {
    font: normal normal normal 15px/0px Lato;
  }
}

@media (max-width: 660px) {
  .billingInfo .billingDataLi {
    float: right;
    width: 56%;
  }
  .billingInfo .billingDataLi {
    width: 100%;
    max-width: 47%;
  }
}

@media (max-width: 580px) {
  .billingInfo .billingDataLi {
    float: left;
    max-width: 55%;
    margin: 0 20%;
  }
}

@media (max-width: 426px) {
  .billingInfo .billingDataLi {
    float: left;
    max-width: 80%;
    margin: 0 10%;
  }
  .billingInfo .billing-data {
    text-align: left;
  }

  .billingInfo .billingDataLi .billing-data {
    text-align: right;
  }
  .billingInfo .billingTo h5 {
    font: normal normal bold 15px/40px Lato;
  }
  .billingInfo .billingTo p {
    font-size: 13px;
  }
  .billingInfo .billing-data p {
    font: normal normal normal 15px/2px Lato;
  }
}
@media (max-width: 415px) {
  .billingInfo .billingDataLi {
    float: left;
    max-width: 90%;
    margin: 0 5%;
  }
  .billingInfo .billing-data {
    text-align: left;
  }
  .billingInfo {
    padding: 4% 6% 5% 5%;
  }
  
}

@media (max-width: 490px) {
  .billingInfo .billingDataLi {
    float: left;
    max-width: 70%;
    margin: 0 15%;
  }
}

@media (max-width: 400px) {
  .billingInfo .billingDataLi {
    float: left;
    max-width: 90%;
    margin: 0 4%;
  }
}
@media (max-width: 320px) {
  .billingInfo .billingDataLi {
    float: left;
    width: 100%;
  }

  .billingInfo .billing-data p {
    font: normal normal normal 14px/2px Lato;
  }
}
@media (max-width: 280px) {
  .billingInfo {
    padding: 4% 9% 5% 5%;
  }
}
